.blog-roll {
  
  .content-wrapper {
    max-width: 1200px;
  }
  
  header {
    
    h1,
    p {
      color: $marshmallow;
      text-align: center;
    }
    
    p {
      color: #000;
    }
    
    form {
      
      button {
        background: $navyBlue;
        color: $marshmallow;
        text-shadow: 0 1px #000;
        width: 100%;
      }
    }
  }
  
  section {
    
    .row.post-container {
      opacity: 1;
      transition: opacity 1s;
      
      > article {
        background: $marshmallow;
        border-radius: 3px;
        box-shadow: 0 0 0 transparent;
        margin-bottom: 1.5rem;
        padding: 15px;
        top: 0;
        transition: box-shadow .25s, top .25s;
        
        &:hover {
          box-shadow: 0 2px 4px rgba(0, 0, 0, .5);
          top: -2px;
        }
      }
      
      .fa-comment-alt {
        cursor: pointer;
        
      }
      
      .heart-post-button {
        background: transparent;
        border: 0;
        outline-color: transparent;
      }
        
      .fa-heart {
        color: #999;
        cursor: pointer;
        transition: color .25s;
        
        &:hover {
          color: lightpink;
        }
      }
      
      .liked {
        color: lightpink;
      }
    }
  }
  
  aside {
    background: $marshmallow;
    border-top-right-radius: 50px;
    box-shadow: 1px 0 5px;
    padding-top: 43px;
    
    hr {
      width: 50%;
    }
  }
}

.post-modal-outer {
  background-color: rgba(0, 0, 0, .8);
  display: none;
  height: 100%;
  overflow: auto;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  
  .post-modal-inner {
    background: $marshmallow;
    border-radius: 5px;
    padding: 0;
    top: 50px;
    
    .post-modal-header {
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      padding: 16px 30px;
      
      .post-modal-close {
        align-self: flex-start;
        cursor: pointer;
      }
      
      small {
        width: 100%;
      }
    }
    
    .post-modal-body {
      padding: 16px 30px;
    }
    
    form {
      display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
      
      textarea {
        height: 115px;
        width: 80%;
      }
    }
    
    .post-modal-comments-wrapper {
      background: inherit;
      padding: 0 30px;
      
      .post-modal-comment {
        
        &:last-child {
          padding-bottom: 1px;
        }
      }
    }
  }
}
