footer {
  background: $navyBlue;
  
  .fa-github,
  .fa-twitter,
  .fa-linkedin {
    color: #fff;
  }
  
  small {
    color: #fff;
    
    .brandon-benefield {
      color: #fff;
      text-decoration: underline;
    }
  }
}
