nav {
  background: $navyBlue;
  margin-bottom: 2em;
  
  .navbar-brand {
    color: $marshmallow !important;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    span {
      
      &:first-child {
        width: 100%;
      }
    }
  }
  
  .dropdown {
    display: inline-block;
    margin: 0 auto;
    
    .dropdown-toggle {
      background: transparent;
      color: $marshmallow;
      font-size: 1.25rem;
      font-weight: 300;
    }
    
    .dropdown-menu.show {
      background: $lightGreen;
      box-shadow: 0 0 15px;
      padding: 10px;
      position: absolute;
      left: -170px;
      width: 300px;
      
      input {
        background: $marshmallow;
        color: #000;
        font-weight: 450;
      }
      
      button {
        background: $navyBlue;
        color: $marshmallow;
        text-shadow: 0 0 5px rgba(0, 0, 0, 1);
      }
    }
  }
}
