.index-page.container {
  
  .row {
    display: flex;
    align-items: center;
    height: 70vh;
    
    .col-10.offset-1 {
      margin: 0 auto;
      max-width: 450px;
      
      h1 {
        color: #fff;
        margin-bottom: 2em;
        text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
      }
      
      .form-control {
        background: $marshmallow;
      }
      
      button {
        background: $navyBlue;
        color: $marshmallow;
        text-shadow: 0 0 5px rgba(0, 0, 0, 1);
      }
    }
  }
}
