@import url("https://fonts.googleapis.com/css?family=Montserrat|Nunito|PT+Sans|Quicksand");
body {
  background-color: #5cdb95;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='120' height='120' viewBox='0 0 120 120'%3E%3Cpolygon fill='%23000' fill-opacity='.1' points='120%2C0 120%2C60 90%2C30 60%2C0 0%2C0 0%2C0 60%2C60 0%2C120 60%2C120 90%2C90 120%2C60 120%2C0'/%3E%3C/svg%3E");
  font-family: 'Nunito', sans-serif; }
  body nav {
    background: #05386b;
    margin-bottom: 2em; }
    body nav .navbar-brand {
      color: #edf5e1 !important;
      display: flex;
      flex-wrap: wrap;
      justify-content: center; }
      body nav .navbar-brand span:first-child {
        width: 100%; }
    body nav .dropdown {
      display: inline-block;
      margin: 0 auto; }
      body nav .dropdown .dropdown-toggle {
        background: transparent;
        color: #edf5e1;
        font-size: 1.25rem;
        font-weight: 300; }
      body nav .dropdown .dropdown-menu.show {
        background: #5cdb95;
        box-shadow: 0 0 15px;
        padding: 10px;
        position: absolute;
        left: -170px;
        width: 300px; }
        body nav .dropdown .dropdown-menu.show input {
          background: #edf5e1;
          color: #000;
          font-weight: 450; }
        body nav .dropdown .dropdown-menu.show button {
          background: #05386b;
          color: #edf5e1;
          text-shadow: 0 0 5px black; }
  body .index-page.container .row {
    display: flex;
    align-items: center;
    height: 70vh; }
    body .index-page.container .row .col-10.offset-1 {
      margin: 0 auto;
      max-width: 450px; }
      body .index-page.container .row .col-10.offset-1 h1 {
        color: #fff;
        margin-bottom: 2em;
        text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3); }
      body .index-page.container .row .col-10.offset-1 .form-control {
        background: #edf5e1; }
      body .index-page.container .row .col-10.offset-1 button {
        background: #05386b;
        color: #edf5e1;
        text-shadow: 0 0 5px black; }
  body .blog-roll .content-wrapper {
    max-width: 1200px; }
  body .blog-roll header h1,
  body .blog-roll header p {
    color: #edf5e1;
    text-align: center; }
  body .blog-roll header p {
    color: #000; }
  body .blog-roll header form button {
    background: #05386b;
    color: #edf5e1;
    text-shadow: 0 1px #000;
    width: 100%; }
  body .blog-roll section .row.post-container {
    opacity: 1;
    transition: opacity 1s; }
    body .blog-roll section .row.post-container > article {
      background: #edf5e1;
      border-radius: 3px;
      box-shadow: 0 0 0 transparent;
      margin-bottom: 1.5rem;
      padding: 15px;
      top: 0;
      transition: box-shadow .25s, top .25s; }
      body .blog-roll section .row.post-container > article:hover {
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
        top: -2px; }
    body .blog-roll section .row.post-container .fa-comment-alt {
      cursor: pointer; }
    body .blog-roll section .row.post-container .heart-post-button {
      background: transparent;
      border: 0;
      outline-color: transparent; }
    body .blog-roll section .row.post-container .fa-heart {
      color: #999;
      cursor: pointer;
      transition: color .25s; }
      body .blog-roll section .row.post-container .fa-heart:hover {
        color: lightpink; }
    body .blog-roll section .row.post-container .liked {
      color: lightpink; }
  body .blog-roll aside {
    background: #edf5e1;
    border-top-right-radius: 50px;
    box-shadow: 1px 0 5px;
    padding-top: 43px; }
    body .blog-roll aside hr {
      width: 50%; }
  body .post-modal-outer {
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
    height: 100%;
    overflow: auto;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1; }
    body .post-modal-outer .post-modal-inner {
      background: #edf5e1;
      border-radius: 5px;
      padding: 0;
      top: 50px; }
      body .post-modal-outer .post-modal-inner .post-modal-header {
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 16px 30px; }
        body .post-modal-outer .post-modal-inner .post-modal-header .post-modal-close {
          align-self: flex-start;
          cursor: pointer; }
        body .post-modal-outer .post-modal-inner .post-modal-header small {
          width: 100%; }
      body .post-modal-outer .post-modal-inner .post-modal-body {
        padding: 16px 30px; }
      body .post-modal-outer .post-modal-inner form {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center; }
        body .post-modal-outer .post-modal-inner form textarea {
          height: 115px;
          width: 80%; }
      body .post-modal-outer .post-modal-inner .post-modal-comments-wrapper {
        background: inherit;
        padding: 0 30px; }
        body .post-modal-outer .post-modal-inner .post-modal-comments-wrapper .post-modal-comment:last-child {
          padding-bottom: 1px; }

/*# sourceMappingURL=main.css.map */
